<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Constellations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<ol>
    <li><a href="/constellation/map">Constellation Map</a></li>
    <li><a href="/constellation/list">Constellations List</a></li>
    <li><a href="/constellation/hygastra/star_id/1">HYG Astra Catalog</a></li>
    <li><a href="https://codeberg.org/astronexus/hyg">HYG-Database</a></li>
</ol>
</body>
</html>